.legendary-styles .news-story--item {
    background-color: #aa0000;
}

li:nth-child(even) .news-story--item {
    background-color: #aa0000;
}

.legendary-styles .news-story__text {
    color: #fff;
}

.legendary-styles .funderline > a {
    color: #fff;
    text-decoration: none;
}

.legendary-styles .swiper,
.legendary-styles .swiper-wrapper,
.legendary-styles .swiper-slide {
  height: auto !important;
}

.legendary-styles .swiper-wrapper { 
  align-items: stretch;          
}

.legendary-styles .swiper-slide {
  display: flex;               
}

.legendary-styles .news-story--item {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;               
}

.legendary-styles .news-story__text {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;                
}

.legendary-styles .aspect-ratio-frame {
  width: 100%;
}

main {
    background: linear-gradient(to bottom, #d8d8d8 0%, #d8d8d8 20%, rgba(216, 216, 216, 0.5) 50%, transparent 80%);
    background-attachment: fixed;
    min-height: 100vh;
}
