.legendary-styles {
    background-color: #fff;
}

.legendary-styles.bg--dark.bg--blue .bg--dark,
.legendary-styles.bg--dark.bg--blue .bg--blue {
    all: unset;
}

.bg--blue {
    all: unset;
}

.bg--dark {
    all: unset;
}

.legendary-styles .news-story--item {
    background-color: #aa0000;
}

li:nth-child(even) .news-story--item {
    background-color: #aa0000;
}

.legendary-styles .news-story__text {
    color: #fff;
}

.legendary-styles .funderline > a {
    color: #000000;
    text-decoration: none;
}

/* .legendary-styles .section-heading__link a {
    color: #000000;
    text-decoration: none;
} */

